@use 'variables' as *;

@font-face {
    font-family: 'FactorA-Regular';
    src: url('/src/fonts/FactorA-Regular.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JxTabeDemoRegular';
    src: url('/src/fonts/JxTabeDemoRegular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FactorA-Medium';
    src: url('/src/fonts/FactorA-Medium.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

header p {
    font-family: 'FactorA-Regular';
    font-size: 1.875vw;
    color: #0B0B0B;
    text-align: right;
    margin: 0%;
}

.menu p{
    color: $main-black;
}

#menu.menu_opened {
    .toolbar p, .discuss p {
    color: $warm-white;
    }
}

nav a {
    color: $warm-white;
    font-family: 'JxTabeDemoRegular';
    font-size: 3.75vw;
}

.discuss_opened {
    h2 {
        font-family: 'FactorA-Medium';
        font-size: 1.4814vh;
        color: $black;
        font-weight: normal;
    }

    span {
        font-family: 'FactorA-Regular';
        font-size: 1.4814vh;
        color: $mouse-gray;
        font-weight: normal;
    }
    span a {
        font-family: 'FactorA-Medium';
        font-size: 1.4814vh;
        color: $mouse-gray;
        font-weight: normal;
    }

    input::placeholder {
        font-family: 'FactorA-Medium';
        font-size: 3.3333vh;
    }

    input {
        font-family: 'FactorA-Regular';
        font-size: 3.3333vh;
    }
}

.discuss_head {
    h2 {
        font-family: 'FactorA-Medium';
        font-size: 3.3333vh;
        color: $black;
        font-weight: normal;
    }
}

.upload_file {
    p {
        font-family: 'FactorA-Medium';
        font-size: 3.3333vh;
        color: $asphalt-grey;
    }
}

.upload_btn {
    color: $white;

    font-family: 'FactorA-Medium';
    font-size: 3.3333vh;
}