@font-face {
    font-family: 'FactorA-Regular';
    src: url('/src/fonts/FactorA-Regular.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}



header {
    p {
        font-family: 'FactorA-Regular';
        font-size: 36px;
        color: #0B0B0B;
        text-align: right;
        margin: 0%;
    }
}

.menu {
    p {
        color: #141414;
    }
}