@use 'variables' as *;
@use 'application';

.logoHead {
    width: 58px;
    height: 72.773px;
    display: inline-block;
    flex-shrink: 0;
    margin: 53px 0 0 80px;
}

.socialMedia {
    display: flex;
    align-items: center;
    gap: 28px;

    #media_1:hover {
        #tg {
            fill: $cat-blue;
        }
    }
    #media_2:hover {
        #insta {
            fill: $cat-blue;
        }
    }
}

.flexheader {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header {
    height: 159px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $warm-white;

    #logo-white, nav {
        display: none;
    }
}

.toolbar {
    display: inline-flex;
    align-items: center;
    gap: 130px;
    margin: 61px 80px 0 0;
}

.discuss_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    border: none;
    background-color: transparent;

    #lightning-blue {
        display: none;
    }

    &:hover {
        p {
            color: $cat-blue;
        }

        #lightning {
            display: none;
        }

        #lightning-blue {
            display: inline;
        }
    }
}

.menu_btn {
    display: flex;
    gap: 11px;
    cursor: pointer;

    border: none;
    padding: 0%;
    background-color: transparent;

    svg {
        display: none;
    }

    &:hover {
        p {
            color: $cat-blue;
        }
    }
}

.create-line {
    width: 45px;
    position: relative;
    display: inline-flex;

    &::before {
        content: "";
        background: $cat-blue;
        width: 45px;
        height: 2px;
        top: 20px;
        position: absolute;
    }
}

.menu_exit {
    border: none;
    background-color: transparent;

    div, p {
        display: none;
    }

    &:hover {
        cursor: pointer;

        #menu_exit {
            fill: $main-black;
        }
    }
}


#menu.menu_opened {
    height: 810px;
    width: 100%;
    position: absolute;

    .toolbar {
        gap: 152px;
    }

    border-radius: 0px 0px 40px 40px;
    background: $cat-blue;

    #logo  {
        display: none;
    }

    #tg, #insta {
        fill: $warm-white;
    }

    #media_1:hover {
        #tg {
            fill: $main-black;
        }
    }
    #media_2:hover {
        #insta {
            fill: $main-black;
        }
    }

    #lightning {
        fill: $warm-white;
    }

    .discuss_btn:hover {
        #lightning-blue {
            display: inline;
            fill: $warm-white;
        }
        #lightning {
            display: none;
        }
    }

    #logo-white {
        display: inline;
    }    

    nav {
        height: auto;
        display: inline-flex;
        margin: 78.5px 0 0 0;
        overflow: visible;

        ul { 
            display: flex;
            flex-direction: column;
            gap: 52px;
            list-style: none; 
            margin: 0%;
            padding: 0%;
        }

        li {
            display: flex;
            justify-content: center;
        }

        a {
            text-decoration: none;
        }
    }

    .link-menu {
        position: relative;
        text-decoration: none;
        transition: color 0.3s;
        cursor: none;

        &.active::before,
        &.active::after {
            visibility: visible;
        }
    }

    .link-menu::after {
        content: attr(data-text); /* Дублируем текст */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $white; /* Белый цвет для текста под кружком */
        clip-path: circle(0% at 0% 0%); /* Начальное положение круга – невидимо */
        z-index: 4;
        visibility: hidden;
        text-shadow: 1px 1px 1px $cat-blue;
    }

    .link-menu::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150%;
        height: 250%;
        transform: translate(-50%, -50%);
        background-color: $main-black;
        clip-path: circle(0% at 0% 0%); /* Начальное положение круга – невидимо */
        z-index: 3;
        visibility: hidden;
    }

    .link-menu:hover {
        color: $main-black;
        text-shadow: 0px -1px 1px $white;
        &::before {
            clip-path: circle(55px at var(--cursor-x) var(--cursor-y));
        }
        &::after {
            clip-path: circle(55px at var(--cursor-x1) var(--cursor-y1));
        }
    }
}